<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if stu %}
    <table>
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Student Email</th>
        </tr>
        {% for st in stu %}
            <tr>
                <td>{{st.stuid}}</td>
                <td>{{st.stuname}}</td>
                <td>{{st.stuemail}}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>No Data</h2>
    {% endif %}
    
</body>
</html>